.navbar {
  background: rgb(0,0,0);
}
.navbar-scroll {
	background-color: rgba(0, 0, 0, 0.99);
	transition: background-color 0.5s;
}
@media (max-width: 768px) {
	.navbar {
		background-color: #0b0b0b !important;
	}
}
.logo {
  width: 200px;
  height: auto;
  transition: all 0.35ms ease-in;
}

@media (max-width: 1000px) {
  .logo {
      margin: 10px;
  }
}
.active {
  color: #ff871c;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #ff871c;
}
