<section id="Footer" class="container-fluid">
  <div class="container">
    <ul class="list-inline float-right">
      <li class="list-inline-item">
        <p class="">
          &copy; {{ currentDate | date: 'yyyy'}} Fidelity Bank Ghana &nbsp;|&nbsp; Develped by
          <a class="text-danger" href="https://www.roninafrica.com">Ronin Africa</a>
        </p>
      </li>
    </ul>

    <ul class="list-inline float-left">
      <li class="list-inline-item" *ngFor="let Social of Social">
        <a class="fidelity-color-text" href="{{Social.link}}" target="_blank"
          ><i class="fab {{Social.icon}}"></i></a>
      </li>
    </ul>
  </div>
</section>
