/* --------------------------------
Footer components
-------------------------------- */

#Footer {
  position: relative;
  bottom: 0;
  padding: 100px 0px;
  color: #f1f1f1;
  background-color: #040404;
  text-align: center;
}

.fidelity-color-text {
  color: #ff871c;
}
